@font-face {
    font-family: JetBrains;
    src: url('../assets/fonts/JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete\ Mono.ttf') format('truetype');
}

@font-face {
    font-family: NotoSans;
    src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

html,
body,
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1b20;
    color: white !important;
    user-select: none;
    overflow: hidden;
    height: 100%;
}

.titlebar {
    width: 100%;
    height: 34px;
    display: flex;
    align-content: center;
    margin-left: 6px;
    font-family: NotoSans;
}

.titlebar .main {
    margin-right: 4px;
    text-align: center;
    width: 40px;
    height: 26px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: auto;
    color: rgb(190, 190, 190);
    
     background: rgba(0,0,0,0.5);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     margin: 7px;
}

.titlebar .main:hover {
    background-color: #2a2d32;
    cursor: default;
}

.titlebar .title {
    flex: 0 1 auto;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    margin-top: 14px;
    font-family: JetBrains;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

.titlebar-icons {
    margin-right: 22px !important;
    margin-bottom: 2px !important;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.titlebar-exit {
    border-radius: 50px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 17px;
    width: 17px;
    margin-left: 6px;
    background-color: rgb(70, 70, 70);

    display: block;
}

.titlebar-exit:hover {
    background: #ff0000;
}

.titlebar-max {
    border-radius: 50px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 17px;
    width: 17px;
    background-color: rgb(70, 70, 70);
    margin-left: 6px;
    display: block;
}

.titlebar-max:hover {
    background: #ffc400;
}

.titlebar-min {
    border-radius: 50px;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 17px;
    width: 17px;
    background-color: rgb(70, 70, 70);
    margin-left: 6px;
    display: block;
}

.titlebar-min:hover {
    background: #22ff00;
}

.SubCategory {
    font-family: NotoSans;
    margin-top: 42px;
    margin-left: 4px;
    display: none !important;
    position: absolute;
    background-color: #232529;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    width: 160px;
    border-radius: 6px;
    z-index: 10;
    display: flex;
}

.SubCategory .sub {
    position: relative;
    color: rgb(207, 207, 207);
    white-space: pre;
    font-size: 13px;
    padding-left: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 34px;
}

.SubCategory .sub:first-child {
    margin-top: 6px !important;
}

.SubCategory .sub:last-child {
    margin-bottom: 6px !important;
}

.SubCategory .sub .hidden {
    position: absolute;
    color: rgb(159, 159, 159);
    margin-left: 82px;
}

.SubCategory .sub:hover {
    background-color: #33373e;
    cursor: pointer;
    border-radius: 0px;
}

#editSubCategory {
    margin-left: 20px;
    min-height: 70px;
}

#viewSubCategory {
    margin-left: 60px;
    min-height: 70px;
}

.viewer {
    margin-top: 16px;
    position: absolute;
    background-color: #1a1b20;
    color: white;
    white-space: normal !important;
    user-select: auto;
    border: none;
    outline: none;
    resize: none !important;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px -3px 8px -1px rgba(0, 0, 0, 0.40);
}

.format,
.format label {
    padding: 20px;
}

.format,
.format pre,
.format textarea {
    font-size: 14px !important;
    font-family: JetBrains;
}

.format textarea {
    color: transparent;
    color: rgba(0, 0, 0, 0.004);
    caret-color: rgb(255, 255, 255);
}

.format {
    overflow: auto;
    height: calc(100% - 50px);
}

.format pre {
    margin: 0;
    overflow: initial;
}

.format label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline;
    box-sizing: border-box;
    cursor: text;
}

.format textarea {
    font-family: JetBrains;
    border: 0;
    background: 0;
    outline: none;
    resize: none;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.format .comment {
    color: rgb(150, 150, 150);
}

.format .string {
    color: rgb(76, 160, 76);
}

.format .number {
    color: rgb(102, 249, 173);
}

.format .keyword {
    color: rgb(255, 51, 92);
}

.format .variable {
    color: cyan;
}

.format .define {
    color: rgb(104, 119, 255);
}


::-webkit-scrollbar {
    width: 10px;
    background: rgba(121, 121, 121, 0);
    height: 10px;
}

::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #63636396;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #83838396;
    height: 30px;
    border-radius: 10px;
    width: 120px !important;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}
